@page "{id:Guid?}"
@model DetailsModel
@{
    ViewData["Title"] = $"Podcast\u2009⏪\u2009Rewind for {Model.FeedRewindData.OriginalFeedTitle}";
}

<h1>
    <img class="img-fluid rounded-start float-start" height="100" width="100" alt="" src="@Model.FeedRewindData.RewoundFeed!.ImageUrl?.ToString()" />
    Podcast&#x2009;⏪&#x2009;Rewind for:<br />
    <em>@Model.FeedRewindData.OriginalFeedTitle</em>
</h1>

<div>
    <a class="btn" href="@Model.RewindFeedUrl"><img src="/img/rss.svg" width="16px" alt="" aria-hidden="true" /> RSS link</a>
    <a class="btn" href="overcast://x-callback-url/add?url=@Model.RewindFeedUrl"><img src="/img/overcast-logo.svg" width="16px" alt="" aria-hidden="true" /> Subscribe in Overcast</a>
    <a class="btn" href="feed://@Model.RewindFeedUrl"><img src="/img/rss.svg" width="16px" alt="" aria-hidden="true" /> "feed" link</a>
    <a class="btn" href="podcast://@Model.RewindFeedUrl"><img src="/img/rss.svg" width="16px" alt="" aria-hidden="true" /> "podcast" link</a>
    <a class="btn" href="pcast://@Model.RewindFeedUrl"><img src="/img/rss.svg" width="16px" alt="" aria-hidden="true" /> "pcast" link</a>
</div>

<div>
    <a class="btn btn-outline-primary" asp-page="Edit" asp-route-id="@Model.FeedRewindData.FeedRewind.Id">Edit Podcast&#x2009;⏪&#x2009;Rewind Settings</a>
</div>

<div class="row">
    <div class="col-lg">
        <h3>Rewound Episodes So Far</h3>
        @if (Model.FeedRewindData.RewoundFeed.Items.Any())
        {
            <div class="vh-50 overflow-scroll-y mb-3 border border-3 border-secondary rounded">
                <div class="card">
                    <ul class="list-group list-group-flush">
                        @foreach (var episode in Model.FeedRewindData.RewoundFeed.Items)
                        {
                            <li class="list-group-item p-0">
                                @Html.DisplayFor(m => episode.PublishDate): <strong>@episode.Title.Text</strong>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        }
        else
        {
            @:None
        }
    </div>

    <div class="col-lg">
        <h3>Upcoming Episodes</h3>
        @if (Model.FeedRewindData.ScheduledFeed!.Items.Count() > 0)
        {
            <div class="vh-50 overflow-scroll-y mb-3 border border-3 border-secondary rounded">
                <div class="card">
                    <ul class="list-group list-group-flush">
                        @foreach (var episode in Model.FeedRewindData.ScheduledFeed.Items)
                        {
                            <li class="list-group-item p-0">
                                @Html.DisplayFor(m => episode.PublishDate): <strong>@episode.Title.Text</strong>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        }
        else
        {
            @:None
        }
    </div>
</div>
